/* RESET CSS */
:root
{
    --primary-color: #eaeaea;
    --secondary-color: #8edafc;
    --light-color: #493c3c;
    --dark-color: #464141;
    --danger-color: #dc3545;
    --success-color: #d5f9ba;
    --ultra-white: #f5ecec;
    --always-dark: #1b1515;
}

::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--light-dark);
    height: 100vh;
    width: 100%;
    background: rgb(0,150,136);
    background: -moz-linear-gradient(180deg, rgba(0,150,136,1) 12%, rgba(218,219,212,1) 12%);
    background: -webkit-linear-gradient(180deg, rgba(0,150,136,1) 12%, rgba(218,219,212,1) 12%);
    background: linear-gradient(180deg, rgba(0,150,136,1) 12%, rgba(218,219,212,1) 12%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009688",endColorstr="#dadbd4",GradientType=1);
    overflow: hidden;
}

.dark-mode {
    /* change all color settting */
    --primary-color: #3a3737;
    --secondary-color: #b8be79;
    --light-color: #92857e;
    --dark-color: #5f5d5d;
    --danger-color: #2d4d42;
    --success-color: #b8be79;
    /* change body color */
    background-color: var(--dark-color);
    color: var(--light-color);
}

.toogle-mode-dark {
    width: 6.25rem;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 9px 5.5px -5.5px #464545;
    -moz-box-shadow: 0 9px 5.5px -5.5px #464545;
    box-shadow: 0 9px 5.5px -5.5px #464545;

}

a {
    text-decoration: none;
}

.a-active {
    color: var(--danger-color);
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style: none;
}

.avatar-img {
    width: 15%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    width: 20%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-justify-end {
    width: 20%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-justify-end a,
.icon a {
    font-size: 1.5rem;
    color: var(--always-dark);
}
 
/*********/
/* LEFT */
/*********/

.left-side {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 100vh;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

/* header left */
.header-left {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
}

.name-style-user {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-color);
    margin-left: 1rem;
}

.user-info {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center; 
    gap: 1rem;
    padding: 0.5rem;
}

/* notification */
.notification {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--dark-color);
    gap: 1rem;
    cursor: pointer;
} 

.inactive {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    cursor: pointer;
}

.active {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    cursor: pointer;
    background-color: var(--secondary-color);
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
    margin-left: 1rem;
}

.p-absolute {
    position: absolute;
    /* postion in center of circle */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* input text search chat */
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--dark-color);

}

.search input {
    width: 80%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    color: var(--dark-color);

}

.search input::placeholder {
    color: var(--dark-color);
}

/* chat list  */
.chat-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
    overflow-y: scroll;
}

.chat {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid var(--dark-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.chat:hover {
    background-color: var(--secondary-color);
}

.info-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.name-style-chat-list {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
}

.last-message-chat-list {
    font-size: 0.8rem;
    font-weight: 400;
}

.message-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--dark-color);
}

/*********/
/* RIGHT */
/*********/

.right-side {
    width: 70%;
    height: 100vh;
}

/* header right */
.right-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--dark-color);
    cursor: pointer;
    height: 8.125rem;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

/*************/
/* MAIN RIGHT */
/*************/
.main-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    height: calc(100vh - 8.125rem - 8.125rem);
    overflow-y: auto;
    background-image: url(/img/mine.jpg);
}
/* message */
.message {
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: auto;
    max-width: 25rem
}

.message-received {
    background-color: var(--ultra-white);
    align-self: flex-start; 
}

.message-sent {
    background-color: var(--success-color);
    align-self: flex-end;
}

.message-time {
    font-size: 0.8rem;
    color: var(--dark-color);
}

/* dropdown */
.dropdown {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.dropdown-icon {
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-left: 1rem;
    cursor: pointer;
}

.dropdown-icon:hover {
    opacity: 0.8;
}

.dropdown-icon::before,
.dropdown-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

/**********/
/* BOTTOM */
/**********/
.bottom-bar-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    border-top: 1px solid var(--dark-color);
    height: 8.125rem;
}

/* input */
.input-message {
    width: 100%;
    display: flex;
    justify-content: s;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--ultra-white);
}

.input {
    width: 80%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    color: var(--dark-color);
}

.input::placeholder {
    color: var(--dark-color);
}